<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Votre don a été validé</title>
</head>
<body>
    <h1>Bonjour {{ beneficiaire.nom }} {{ beneficiaire.prenom }},</h1>
    <p>Nous sommes heureux de vous informer que votre demande de don pour <strong>{{ demande.dons.titre }}</strong> a été validée.</p>
    <p>Vous trouverez ci-joint un reçu PDF contenant les détails de votre demande.</p>
    <p>Merci de faire partie de notre communauté solidaire.</p>
    <p>Cordialement,</p>
    <p><strong>L'équipe de la Plateforme de Dons Solidaires</strong></p>
</body>
</html>