{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1>Edit Event</h1>

    {{ include('eventfront/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_eventfront_index') }}">back to list</a>

    {{ include('eventfront/_delete_form.html.twig') }}
{% endblock %}
